@model IEnumerable<PizzaBoxWeb.Models.Topping>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToppingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToppingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToppingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToppingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ToppingId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ToppingId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.ToppingId  })
            </td>
        </tr>
}
    </tbody>
</table>
